@import url('./styles/header.css');
@import url('./styles/banner.css');
@import url('./styles/numeros.css');
@import url('./styles/slides.css');
@import url('./styles/experiencia.css');
@import url('./styles/proposito.css');
@import url('./styles/contato.css');
@import url('./styles/footer.css');

:root {
    --azul-claro: #00A1FC;
    --azul-escuro: #0046C0;
    --branco: #f6f6f6;
    --banner-height: calc(var(--banner-width) * 9 / 16);
}

* {
    margin: 0;
    padding: 0;

}

.container {
    max-width: none !important;
    width: 80% !important;
    margin-bottom: 5em !important;

}

.container-conteudo {
    margin-left: 2em;
    margin-bottom: 2em !important;
}

h1.titulo-experiencia {
    margin: 0 auto;
    width: 80%;
    margin-top: 3em;
}

.subtitulo {
    font-weight: 500;
    font-size: 20px;
}

.texto {
    font-size: 16px;
    line-height: 25px;
}


.titulo {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2em;
}

.enfase-texto {
    color: var(--azul-claro);
}


@media screen and (min-width: 1000px) {
    .texto {
        font-size: 20px;
       
    }

    .container {
        max-width: none !important;
        width: 90% !important;
    }

    .titulo {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 2em;
    }

    .subtitulo {
        font-size: 25px;
        font-weight: 700;
    }

    .container {
        max-width: none !important;
        width: 90% !important;
    }
}

/* @media screen and (min-width: 1024px) {

    .container {
        max-width: none!important;
        width: 90%!important;
    }
    .titulo {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 1em;
    }
} */