:root{
    --azul-claro: #00A1FC;
    --azul-escuro: 0046C0;
    --branco: #f6f6f6;
    --banner-height: calc(var(--banner-width) * 9 / 16);
}


.banner {
    flex-flow: column;
    justify-content: start;
    display: flex;

    background-image: url(../assets/img/back-mobile4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--banner-height);
    background-position-y: -48px;
    min-height: 78vh;
    background-position-x: center;
}

h1.titulo-banner {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: var(--branco);
    margin: 0;
}

.texto-banner {
    padding-top: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
h3.subtitulo-banner {
    font-size: 19px;
    margin: 8px 0 0 0;
}

.pessoas-icones {
    width: 28%;
    margin-top: 0.9em;

}

h1.titulo.titulo-numeros {
    text-align: end;
}

.pessoas {
    text-align: center;
}

.pessoas-icones {
    width: 45%;
    margin-top: 0.9em;
}

@media screen and (min-width: 500px) {

    .banner {
        flex-flow: column;
        justify-content: start;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--banner-height);
       
        min-height: 90vh;
        background-position-x: center;
    }

  
   
}


@media screen and (min-width: 730px) {

    .banner {
        flex-flow: column;
        justify-content: start;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--banner-height);
        background-position-y: -254px;
        min-height: 90vh;
        background-position-x: center;
    }

  
   
}

@media screen and (min-width: 830px) {

    .banner {
          background-position-y: -350px;
    }

  
   
}

@media screen and (min-width: 930px) {

    .banner {
          background-position-y: -450px;
    }

  
   
}
@media screen and (min-width: 1024px) {

    .banner {
        flex-flow: column;
        justify-content: start;
        display: flex;
    
        background-image: url(../assets/img/banner-desktop4.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--banner-height);
        background-position-y: -148px;
        min-height: 90vh;
        background-position-x: center;
    }

  
   
    section.banner {
        flex-flow: row;
        align-items: center;
        justify-content: start;
        padding-left: 5em;
    }

    h1.titulo-banner {
        font-size: 100px;
        text-align: start;
        /* width: 100%; */
    }

    .texto-banner {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-flow: column;
        height: 67vh;
        padding-top: 2em;
}

    .pessoas {
        width: 46%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row-reverse;
    }

    h3.subtitulo-banner {
        font-size: 26px;
        font-weight: 500;
        margin-left: 11px;
    }


}

@media screen and (min-width: 1224px) {

    

  
    .banner {
        flex-flow: column;
        justify-content: start;
        display: flex;
    
        background-image: url(../assets/img/banner-desktop4.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--banner-height);
        background-position-y: -148px;
        min-height: 90vh;
        background-position-x: center;
    }

    section.banner {
        flex-flow: row;
        align-items: center;
        justify-content: start;
        padding-left: 5em;
    }

    h1.titulo-banner {
        font-size: 100px;
        text-align: start;
        /* width: 100%; */
    }

    .texto-banner {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-flow: column;
        height: 67vh;
        padding-top: 2em;
}

    .pessoas {
        width: 46%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row-reverse;
    }

    h3.subtitulo-banner {
        font-size: 26px;
        font-weight: 500;
        margin-left: 11px;
    }
}

@media screen and (min-width: 1500px) {
   
    .banner {
        flex-flow: column;
        justify-content: start;
        display: flex;
/*     
        background-image: url(../assets/img/teste3.png); */
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--banner-height);
        background-position-y: -183px;
        min-height: 90vh;
        background-position-x: center;
    }

    section.banner {
        flex-flow: row;
        align-items: center;
        justify-content: start;
        padding-left: 5em;
    }

    h1.titulo-banner {
        font-size: 97px;
        text-align: start;
    }

    .texto-banner {
        padding-top: 6em;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-flow: column;
      
        height: 67vh;
    }
    .pessoas {
        width: 46%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row-reverse;
    }

    h3.subtitulo-banner {
        font-size: 26px;
        font-weight: 500;
        margin-left: 11px;
    }
}




