:root{
    --azul-claro: #00A1FC;
    --azul-escuro: 0046C0;
    --branco: #f6f6f6;
    --banner-height: calc(var(--banner-width) * 9 / 16);
}
section.contatos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
}

.subtitulo-contato{
    margin-top: 0!important;
}


.caixa-informacoes-contato{
    background-color: var(--azul-claro);
    padding: 3em;
}

.caixa-email-contato{
    background-color: var(--azul-escuro);
    padding: 3em;
}

.texto-contato{
    margin-bottom: 0.5em;
    font-size: 16px;
}

.form-control {
    background: white!important;
    border-radius: 7px!important;
    border: 1px solid #9C9292!important;
    margin: 1em 0!important;
}

textarea {
    height:auto!important;
}

textarea::placeholder, input::placeholder{
    color: #9C9292;
    font-size: 15px;
}

textarea::placeholder,input::placeholder{
    padding: 0.5em !important;
}